{
  "database": {
    "host": "",
    "port": "",
    "user": "",
    "password": "",
    "dbname": ""
  },
  "database_osm": {
    "host": "",
    "port": "",
    "user": "",
    "password": "",
    "dbname": ""
  },
  "qgis": {
    "path": "/qgis",
    "url": ""
  }
}
