{
  "bamako": {
    "database_osm": {
      "host": "",
      "port": "",
      "user": "",
      "password": "",
      "dbname": ""
    }
  },
  "pradec": {
    "database_osm": {
      "host": "",
      "port": "",
      "user": "",
      "password": "",
      "dbname": ""
    }
  },

  "qgis": {
    "path": "/qgis",
    "url": ""
  }
}
